* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 90%;
  background: #111;
  color: #eee;
  padding: 1em;
}

#container {
  width: 60em;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 10em;
}

h1 {
  margin-bottom: 0.5em;
}

#description {
  background: #ff7;
  color: #330;
  padding: 1em;
  margin-bottom: 2em;
  font-size: 90%;
}

  #description ul {
    list-style-type: none;
    margin: 1em 0;
  }

  #description code {
    background: #ee5;
    padding: 0 0.5em;
  }

  #description a {
    color: #369;
  }

#tabs {
  overflow: hidden;
}

  #tabs .tab {
    float: left;
    width: 45%;
    margin-right: 2%;
  }

#tabs.active { /* active == javascript is available */
  width: 60%;
}

  #tabs.active .tablist {
    list-style-type: none;
    overflow: hidden;
  }

    #tabs.active .tablist li {
      float: left;
      margin-right: 0.2em;
    }

      #tabs.active .tablist li a {
        display: block;
        padding: 0.25em;
        background: #222;
        color: #999;
        text-decoration: none;
        outline: 0;
      }

        #tabs.active .tablist li a:hover, #tabs.active .tablist li a:focus {
          text-decoration: underline;
        }

        #tabs.active .tablist li.active a {
          display: block;
          background-color: #333;
          color: #ccc;
        }

        #tabs.active .tablist li.updated a {
          background-color: #cc3;
        }

  #tabs.active .tab {
    display: none;
    width: 95%;
    background: #333;
    margin: 0;
    padding: 0.5em;
  }

    #tabs.active .tab.active {
      display: block;
    }

    #tabs.active .tab h2 {
      display: none;
    }

#console {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8em;
  overflow: auto;
  background: #555;
  border-top: 0.2em solid #777;
}

  #console:hover {
    border-color: #ccc;
    cursor: pointer;
  }

  #console.inactive {
    height: 1.5em;
    opacity: 0.75;
    overflow: hidden;
  }

  #console.updated {
    border-color: #ff6;
  }

  #console .message {
    display: block;
    font-size: 80%;
    padding: 0.2em;
    border-bottom: 1px solid #666;
    margin: 0;
    background: #555;
  }

pre {
  background: #222;
  margin: 1em 0;
  padding: 0.5em;
  overflow: auto;
}

  pre .line:hover {
    text-decoration: underline;
    cursor: pointer;
  }

.items {
}

  .items h2 {
    
  }

.item {
  background: #666;
  border: 1px solid #999;
  margin: 1em 0;
  color: #eee;
}

  .item.updating {
    border-color: #ff6;
  }

  .item h3 {
    font-size: 100%;
    padding: 0.25em 0.5em;
    background: #777;
  }

    .item h3 a {
      display: block;
      color: #eee;
      text-decoration: none;
    }

  .item p {
    padding: 1.5em 0.5em;
  }

  .item .rating {
    overflow: hidden;
    background: #555;
    color: #999;
    font-size: 80%;
  }

  .item .rating h4 {
    width: 45%;
    float: left;
    text-align: right;
    font-size: 100%;
    font-weight: normal;
    padding: 0.25em;
  }

  .item .rating ul, .item .rating p.average {
    width: 45%;
    float: left;
  }

  .item .rating ul {
    list-style-type: none;
    overflow: hidden;
  }

    .item.updating .rating ul {
      display: none;
    }
  
    .item .rating ul li {
      float: left;
      margin: 0.25em;
    }

      .item .rating ul li a {
        display: block;
        background: #666;
        color: #999;
        padding: 0 0.25em;
        text-decoration: none;
      }

      .item .rating ul li a:hover {
        background: #777;
        color: #ccc;
      }

  .item .rating p.average {
    padding: 0.25em;
    margin: 0;
  }

.users {
  list-style-type: none;
}

  .users li {
    margin: 0.5em 0;
  }

    .users li a {
      display: block;
      text-decoration: none;
      padding: 1em;
      text-align: center;
      background: #444;
      color: #ddd;
      border: 1px solid #555;
      outline: 0;
    }

      .users li.moderator a {
        border-color: #585;
      }

      .users li.admin a {
        border-color: #855;
      }

      .users li.marked a {
        border-color: #558;
        background-color: #445;
        color: #ddf;
        font-weight: bold;
      }

      .users li a:focus, .users li a:hover, .users li a:active {
        border-style: dashed;
      }

      .users li a .paren {
        display: none;
      }

.new_comment, .edit_comment {
  background: #444;
  padding: 0.5em;
  margin: 1em 0
}

  .new_comment p, .edit_comment p {
    padding: 0.5em;
    overflow: hidden;
  }

  .new_comment p label, .edit_comment p label {
    float: left;
    width: 25%;
    font-size: 80%;
  }

  .new_comment p input, .edit_comment p input,
  .new_comment p textarea, .edit_comment p textarea {
    float: right;
    width: 70%;
    background: #555;
    border: 1px solid #000;
    color: #999;
    padding: 0.25em;
  }

  .new_comment p textarea, .edit_comment p textarea {
    height: 10em;
  }

  .new_comment p button, .edit_comment p button {
    background: #333;
    border: 1px solid #222;
    padding: 0.5em;
    color: #999;
    float: right;
  }
