* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 90%;
  background: #333;
  color: #eee;
  padding: 1em;
}

#container {
  width: 60em;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

h1 {
  margin-bottom: 0.5em;
}

#description {
  background: #cfc;
  color: #030;
  padding: 1em;
  margin-bottom: 2em;
}

  #description ul {
    list-style-type: none;
  }

#first {
  width: 45%;
  float: left;
}

#second {
  width: 45%;
  float: right;
}

.items {
}

  .items h2 {
    
  }

.item {
  background: #666;
  border: 1px solid #999;
  margin: 1em 0;
  color: #eee;
}

  .item.updating {
    border-color: #ff6;
  }

  .item h3 {
    font-size: 100%;
    padding: 0.25em 0.5em;
    background: #777;
  }

    .item h3 a {
      display: block;
      color: #eee;
      text-decoration: none;
    }

  .item p {
    padding: 1.5em 0.5em;
  }

  .item .rating {
    overflow: hidden;
    background: #555;
    color: #999;
    font-size: 80%;
  }

  .item .rating h4 {
    width: 45%;
    float: left;
    text-align: right;
    font-size: 100%;
    font-weight: normal;
    padding: 0.25em;
  }

  .item .rating ul, .item .rating p.average {
    width: 45%;
    float: left;
  }

  .item .rating ul {
    list-style-type: none;
    overflow: hidden;
  }

    .item.updating .rating ul {
      display: none;
    }
  
    .item .rating ul li {
      float: left;
      margin: 0.25em;
    }

      .item .rating ul li a {
        display: block;
        background: #666;
        color: #999;
        padding: 0 0.25em;
        text-decoration: none;
      }

      .item .rating ul li a:hover {
        background: #777;
        color: #ccc;
      }

  .item .rating p.average {
    padding: 0.25em;
    margin: 0;
  }

.users {
  list-style-type: none;
}

  .users li {
    margin: 0.5em 0;
  }

    .users li a {
      display: block;
      text-decoration: none;
      padding: 1em;
      text-align: center;
      background: #444;
      color: #ddd;
      border: 1px solid #555;
      outline: 0;
    }

      .users li.moderator a {
        border-color: #585;
      }

      .users li.admin a {
        border-color: #855;
      }

      .users li.marked a {
        border-color: #558;
        background-color: #445;
        color: #ddf;
        font-weight: bold;
      }

      .users li a:focus, .users li a:hover, .users li a:active {
        border-style: dashed;
      }
